[Unit]
Description=Lien's Laundry Classifier
Requires=dev-vision_spicomm.device
After=dev-vision_spicomm.device
Wants=aiy-board-info.service
After=aiy-board-info.service

[Service]
Type=simple
Restart=no
User=pi
Environment=AIY_BOARD_NAME=AIY-Board
EnvironmentFile=-/run/aiy-board-info
ExecStart=/usr/bin/python3 /home/pi/finalproject/laundry_classifier.py --model_path ~/training_data/retrained_graph.binaryproto   --label_path ~/training_data/retrained_labels.txt   --input_height 160   --input_width 160   --input_layer input   --threshold 0.9   --output_layer final_result   --preview

[Install]
WantedBy=multi-user.target
